body {
    background: #CCCCCC;
}

#banner {
    width: 100%;
}
h1 {
    text-align: center;
}

p{
    text-align: center;
}

#lema {
    font-size: 20px;
}

em strong {
    color: #FF0000;
}

